<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315893915016-1mh1kmjf1nn4e2j9jvdmp1923e3930br.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315893915016-1mh1kmjf1nn4e2j9jvdmp1923e3930br</string>
	<key>API_KEY</key>
	<string>AIzaSyA-Tw09wloczJ8oRFWbMyJGO6sfEERvHHk</string>
	<key>GCM_SENDER_ID</key>
	<string>315893915016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hued</string>
	<key>PROJECT_ID</key>
	<string>hued-ecfe3</string>
	<key>STORAGE_BUCKET</key>
	<string>hued-ecfe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315893915016:ios:8456ff938ecf19dae1ae3d</string>
</dict>
</plist>